<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>
<div class="container">

  <h1>Welcome to Nodejs Chat</h1>

  <% if(!loggedInUser){ %>
  <a class="btn" href="/login">Login</a>
  <a class="btn" href="/register">Register</a>
  <% }else{ %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      User logged in
    </div>
    <div class="card-footer">
      <a class="btn btn-outline-success" href="/inbox">Chat</a>
    </div>
  </div>

  <% } %>
  <br>
  Or chat without account
  <br>
  <a class="btn btn-primary" href="/public">Anonymous chat</a>

</div>

<%- include('./partials/footer'); -%>