:root {
  --offcanvas-width: 270px;
  --topNavbar-height: 56px;

  --primary: #171c2a;
  --secondary: #11141f;
  --tertiary: #1f222e;
  --dark: #0e0e12;
  --green: #52d794;
  --blue: #00b3bd;
  --light: #fff;
  --red: indianred;
}

html,
body {
  height: 100%;
}

/* html {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, var(--green) 0%, var(--blue) 100%);
  font-size: 10px;
} */
.font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* body {
  display: grid;
  place-items: center;
} */

.center {
  text-align: center;
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

.toast {
  font-size: 25px;
  text-align: center;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
}

.toast-show {
  display: block;
}

.chat-input {
  font-size: 20px;
  width: 400px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
}

#chat-container {
  display: grid;
  grid:
    "search-container chat-title" 71px
    "conversation-list chat-message-list" 1fr
    "new-message-container chat-form" 78px
    /275px 1fr;
  min-width: 800px;
  max-width: 1000px;
  width: 100%;
  height: calc(100vh - 70px);
  /* background: var(--primary); */
  border-radius: 10px;
}

#chat-form {
  visibility: hidden;
}

#chat-title > img {
  cursor: pointer;
  height: 30px;
}

#chat-title {
  display: grid;
  grid: 36px / 1fr 36px;
  align-content: center;
  align-items: center;
  grid-area: chat-title;
  /* color: #ffffff; */
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0 10px 0 0;
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.75);
  padding: 0 20px;
}

#chat-message-list {
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  overflow-y: scroll;
}

#chat-title > img:hover {
  transform: scale(1.05);
}

/* #search-container,
#conversation-list,
.new-message-container {
  background: var(--secondary);
} */

#search-container {
  display: grid;
  align-items: center;
  padding: 0 20px;
  grid-area: search-container;
  border-radius: 10px 0 0 0;
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#search-container input {
  color: #eee;
  outline: none;
  font-weight: normal;
  border-radius: 2px;
  height: 30px;
  border: 0;
  padding-left: 48px;
  padding-right: 20px;
  font-size: 1.4rem;
  background: url(../images/search.png) no-repeat var(--tertiary);
  background-position: 15px center;
  background-size: 20px 20px;
}

#search-container input::placeholder {
  color: #ddd;
  font-weight: bold;
}

#chat-message-list {
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  overflow-y: scroll;
}

.message-row {
  display: grid;
  /* grid-template-columns: 70%; */
  margin-bottom: 20px;
}

.message-content {
  display: grid;
}

.message-content img {
  width: 32px;
}

.you-message {
  justify-content: end;
}

.you-message .message-content {
  justify-items: end;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 15px;
}

.other-message {
  justify-items: start;
}

.other-message .message-content {
  grid-template-columns: 48px 1fr 1fr;
  grid-column-gap: 15px;
}

.message-row img:first-of-type {
  border-radius: 100%;
  grid-row: span 2;
}

.message-text {
  padding: 9px 14px;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.message-time {
  font-size: 1.3rem;
  color: #777;
}

.you-message .message-text {
  background: var(--green);
  color: var(--dark);
  border: 2px solid var(--dark);
  border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
  background: var(--blue);
  color: #111;
  border: 2px solid var(--dark);
  border-radius: 14px 14px 0 14px;
}

.nothing {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  color: rgba(255, 255, 255, 0.2);
  font-size: 2.5rem;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.avatar {
  width: 24px;
  height: 24px;
}

/* inbox related responsive styles */

@media only screen and (max-width: 1000px) {
  #chat-container {
    width: auto;
    min-width: 90%;
    height: 88vh;
    grid:
      "search-container chat-title" 71px
      "conversation-list chat-message-list" 1fr
      "new-message-container chat-form" 78px
      /70px 1fr;
  }

  .title-text,
  .created-date,
  .conversation-message {
    display: none;
  }

  #search-container {
    justify-content: center;
    padding: 0;
  }

  #search-container input {
    width: 0px;
    padding-right: 0px;
  }
}

/* public chat section */
.info-container {
  padding: 8px;
  background: #0a0909;
  color: #7eff7e;
  width: 300px;
  height: auto;
  margin: 8px;
}
.start-btn {
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: #25b9ff;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.start-btn:active {
  background: #0a0909;
  color: #7eff7e;
}
.start-btn:hover {
  background: #302e2e;
  color: #7eff7e;
}
/* end public chat section */

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .offcanvas-backdrop::before {
    display: none !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    top: var(--topNavbar-height) !important;
    height: calc(100% - var(--topNavbar-height)) !important;
  }
}
