<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- imports -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <title><%= title %></title>
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;
      background-color: #111;
      color: white;
      font-size: 14px;
      font-family: Helvetica, sans-serif;
      overflow: hidden;
    }

    .panel {
      background-color: #444;
      position: absolute;
      bottom: 0;
    }

    .message-container {
      overflow-y: scroll;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 250px;
    }
  </style>
</head>

<script>
  let socket = io();


  // start chat app
  function startChat() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const conversationId = urlParams.get('conversationId')
    console.log(conversationId);

    if (conversationId != null) {
      setUserId(conversationId);
    } else {
      setUserId();
    }

  }


  function setUserId(conversationId = false) {
    let data;
    let userId = sessionStorage.getItem("username");
    let cId = sessionStorage.getItem("conversationId");

    if (userId == null) {
      let uniqeId = "id" + Math.random().toString(16).slice(2)
      sessionStorage.setItem("username", uniqeId);
    }
    if (cId == null) {
      let cuniqeId = "cid" + Math.random().toString(16).slice(2)
      sessionStorage.setItem("conversationId", cuniqeId);
    }
    if (conversationId) {

      data = {
        userId: sessionStorage.getItem("username"),
        conversationId: conversationId,
        isConversation: true
      }
    } else {
      data = {
        userId: sessionStorage.getItem("username"),
        conversationId: sessionStorage.getItem("conversationId"),
        isConversation: false
      }
    }
    socket.emit('setUserId', data);
  };


  let user;
  let participant;
  let conversation;
  socket.on('userExists', function(data) {
    document.getElementById('error-container').innerHTML = data;
  });
  socket.on('userSet', function(data) {
    user = data.username;
    participant = data.participant;
    conversation = data.conversation;
    let privateLink = window.location.origin + "/private?conversationId=" + conversation;
    document.getElementById("container").innerHTML = `
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">
      <div class="p-2 message-container" id="message-container"></div>

      <div class="panel">
      <div>
        <input autofocus place="write a message.." type="text" id="message">
        <button class="btn btn-outline-primary" type="button" name="button" onclick="sendMessage()">Send</button>
        <button class="btn btn-outline-primary" type="button" onclick="location.reload();">New connection</button>
      </div>
      
      <div class="info-container">
        <div>
          Share: 
          <br/>
          <label>${privateLink}</label>
        </div>
        <br/>
        <div>userId: ${user}</div>
        <div>participantId: ${participant}</div>
        <div>conversationId: ${conversation}</div>
      </div>
    </div>

    </div>
    `;


    document.getElementById("message").addEventListener("keypress", function(e) {
      var kc = e.key;
      if (kc === "Enter") {
        sendMessage()
      }
    }, false);
  });


  function sendMessage() {
    let msg = document.getElementById('message').value;
    if (msg) {
      socket.emit('msg', {
        message: msg,
        user: user,
        participant: participant,
        conversation: conversation
      });
      document.getElementById('message').value = ''
    }
  }
  socket.on('newmsg', function(data) {
    console.log(conversation);
    console.log(data);
    if (conversation == data.conversation) {
      document.getElementById('message-container').innerHTML += '<div><b>' + data.user + '</b>: ' + data.message + '</div>'
    } else {
      document.getElementById("nohere").innerHTML = "No one connected. Please refresh again";
    }
  })
</script>

<body>
  <div class="container" id="container">
    <div class="d-flex justify-content-center">
      <div id="error-container"></div>
      <!-- <input id="name" type="text" name="name" value="" placeholder="Enter your name!">
      <button type="button" name="button" onclick="setUsername()">Let me chat!</button> -->
      <button style="position: absolute;top: 50%;" class="start-btn" type="button" name="button" onclick="startChat()">Start</button>
    </div>

  </div>

</body>

</html>