<!DOCTYPE html>
<html>

<head>
  <title>Hello world</title>
</head>
<script src="/socket.io/socket.io.js"></script>
<script>
  let socket = io();

  setUserId();

  function setUsername() {
    socket.emit('setUsername', document.getElementById('name').value);
  };

  function setUserId() {
    let userId = sessionStorage.getItem("username");
    if (!userId) {
      let uniqeId = "id" + Math.random().toString(16).slice(2)
      sessionStorage.setItem("username", uniqeId);
    }
    socket.emit('setUserId', userId);
  };
  let user;
  let participant;
  socket.on('userExists', function(data) {
    document.getElementById('error-container').innerHTML = data;
  });
  socket.on('userSet', function(data) {
    user = data.username;
    participant = data.participant;
    document.body.innerHTML = `
    <div id="message-container"></div>
    <input type="text" id="message">
    <button type="button" name="button" onclick="sendMessage()">Send</button>
    <div id=userId>userId: ${user}</div>
    <div id=userId>participantId: ${participant}</div>
    `;

  });

  function sendMessage() {
    let msg = document.getElementById('message').value;
    if (msg) {
      socket.emit('msg', {
        message: msg,
        user: user,
        participant: participant
      });
      document.getElementById('message').value = ''
    }
  }
  socket.on('newmsg', function(data) {
    console.log(user);
    console.log(participant)
    console.log(data)
    if (participant == data.participant) {
      document.getElementById('message-container').innerHTML += '<div><b>' + data.user + '</b>: ' + data.message + '</div>'
    }
  })
</script>

<body>
  <div id="error-container"></div>
  <!-- <input id="name" type="text" name="name" value="" placeholder="Enter your name!">
  <button type="button" name="button" onclick="setUsername()">Let me chat!</button> -->
</body>

</html>